/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
    margin: 10px;
}

h2, h3{
    margin-bottom: 0;
}

p {
  margin: 10px;
}

a {
    font-weight: bold;
    color: rebeccapurple;
    text-decoration: none;
    padding: 2%;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 97%;
}

#main_nav a:hover{
    background: #ddddff;
}

#main_content > div {
  background-color: #ddffff;
  padding: 10px 2%;
  margin-bottom: 5px;
  border-radius: 5px;
}

#sidebar_content > div {
  background-color: #ffffdd;
  padding: 10px 2%;
  margin-top: 1em;
  border-radius: 5px;
}

#site_footer {
  background: #ffdddd;
  padding: 1em;
  margin-top: 1em;
}

#logo {
  text-align: center;
}

@media (min-width: 600px) {

  #main_nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
  }


#main_nav a {
  width: auto;
  flex-grow: 1;
  padding: 10px 2%;
  background: #ffdddd;
  margin: .5em;
  border-radius: 5px;
}

#sidebar_content {
  display: flex;
}

#sidebar_content > div {
  flex-grow: 1;
}

@media (min-width: 1100px) {
    header {
      display: flex;
    }

    #main_nav {
      display: flex;
      justify-content: flex-end;
    }

    #main_nav a {
        padding: 10px 2%;
        background: #ffdddd;
        margin: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        width: 200px;
    }
}
